body {
  color: #606c71;
  font-size: 18px;
}

h1 {
  color: #f58410;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #f58410;
  border-color: #f58410;
}

.title {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(135deg, #f3a44f, #d07324);
  padding: 1.5rem 2rem;
  line-height: 1.5;
}

.fig-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.two-figs {
  float: left;
  width: 50%;
}

#response figure {
  /*display: table;*/
  width: 25%;
  padding: 0 0 15px 0;
  margin: 0;
  float: left;
}

#response img {
  width: 100%;
}

#response h3, p {
  clear: both;
}

#response figcaption {
  /*display: table-caption;*/
  /*caption-side: bottom;*/
  text-align: center;
  color: #606c71;
  /*text-decoration: none;*/
}
